<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <h3>Edit your user</h3>
  <button mat-mini-fab color="primary" type="button" [mat-dialog-close]="" autofocus="false">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form [formGroup]="editUserForm" fxLayout="column" autocomplete="off">
    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="name" autofocus>
      <mat-error *ngIf="editUserForm.controls['name'].touched && !editUserForm.controls['name'].valid">Field name
        <strong>invalid</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="editUserForm.controls['email'].touched && !editUserForm.controls['email'].valid">Field email
        <strong>invalid</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-error *ngIf="editUserForm.controls['password'].touched && !editUserForm.controls['password'].valid">Field
        password <strong>invalid</strong>
      </mat-error>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button color="primary" (click)="updateUser()" type="button">
    <mat-icon>save_alt</mat-icon>
    Save
  </button>
  <button mat-raised-button color="primary" type="button" (click)="deleteUser()">
    <mat-icon>delete</mat-icon>
    Delete
  </button>
</div>
