<div fxLayout="row">
  <h3 matLine style="color: white">Use this to publish your thoughts</h3>
</div>
<form [formGroup]="postForm" (submit)="storePost()" fxLayout="column" fxLayoutAlign="center stretch">
  <mat-form-field appearance="outline" style="color: white">
    <mat-label>write here</mat-label>
    <textarea matInput formControlName="text" rows="7"></textarea>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-stroked-button type="submit" color="primary">
      Publish post
    </button>
  </div>
</form>
