<div fxLayout="column" style="height: 100%">
  <div *ngIf="(post$ | async) as post">
    <mat-card style="margin-bottom: 12px">
      <mat-card-header>
        <h3>Post</h3>

        <span fxFlex="1 1 auto"></span>
        <div *ngIf="post.id_usuario === userId">
          <button mat-mini-fab [color]="'primary'" (click)="editavel = true" type="button">
            <mat-icon>edit</mat-icon>
          </button>

          <span style="padding-right: 8px"></span>

          <button mat-mini-fab [color]="'warn'" (click)="deletePost()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content style="padding-top: 5px">
        <mat-divider></mat-divider>

        <p matLine *ngIf="!editavel" style="padding-left: 20px;padding-top: 20px">{{post.text}}</p>

        <form *ngIf="editavel" [formGroup]="postForm" style="padding-top: 20px" (submit)="updatePost()"
          fxLayout="column" fxLayoutAlign="space-between stretch">
          <mat-form-field matLine>
            <textarea matInput formControlName="text" [value]="post.text" placeholder="post text"></textarea>
          </mat-form-field>

          <div fxLayout="row">
            <span fxFlex="1 1 auto"></span>
            <button color="primary" mat-stroked-button type="submit">
              Save
            </button>
            <span style="padding-right: 8px"></span>
            <button mat-stroked-button color="accent" type="button" (click)="editavel = false">
              Cancel
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-toolbar fxLayout="row" color="primary" class="mat-elevation-z20"
      style="z-index: 2;margin-bottom: 5px; margin-top: 15px">
      <h3 matLine>Comments</h3>
    </mat-toolbar>
    <mat-card class="comment-list">
      <mat-list *ngFor="let comment of post.comments">
        <app-comment-show mat-list-item [comment]="comment" [mine]="comment.id_usuario == userId">
        </app-comment-show>
      </mat-list>
    </mat-card>
  </div>
  <div fxFlex>

  </div>
  <div>
    <app-posts-comment-store></app-posts-comment-store>
  </div>

</div>
